// Color variables used throughout the site.
html {
  --primary-text: #363635;
  --primary-background: #FFFFFF;
  --active-background: #EAEAEA;
  --list-primary-background: #F9F9F9;
  --list-secondary-background: #FFFFFF;
  --link-color: #0062CC;
  --table-primary-background: #E1E1E1;
  --table-secondary-background: #F9F9F9;
  --jumbotron-background: #E9ECEF;
  --border-color: #e3e3e3;
  --sky-color: #B0D0D3;
  --cloud-color: #fff;
}

// html[theme="dark"] {
//   --primary-text: #363635;
//   --primary-background: #FFFFFF;
//   --active-background: #EAEAEA;
//   --list-primary-background: #F9F9F9;
//   --list-secondary-background: #FFFFFF;
//   --link-color: #0062CC;
//   --table-primary-background: #E1E1E1;
//   --table-secondary-background: #F9F9F9;
//   --jumbotron-background: #E9ECEF;
//   --border-color: #e3e3e3;
//   --sky-color: #B0D0D3;
//   --cloud-color: #fff;
// }

// title colors

// Size variables used to define breakpoints throughout the site.
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// export variablese for use in js code
:export {
  cloud-color: --cloud-color;
}