$padding-lg: 20px;
$padding-md: 15px;
$padding-sm: 10px;

$margin-lg: 15px;
$margin-md: 10px;
$margin-sm: 5px;

html {
  --primary-text: #363635;
  --primary-background: #FFFFFF;
  --list-primary-background: #F9F9F9;
  --list-secondary-background: #F2F2F2;
  --link-color: #0062CC;
  --table-primary-background: #E1E1E1;
  --table-secondary-background: #F9F9F9;
  --jumbotron-background: #E9ECEF;
  --border-color: #e3e3e3;
  --sky-color: #B0D0D3;
}

html[theme="dark"] {
  --primary-text: #E5E7E7;
  --primary-background: #18191A;
  --list-primary-background: #28293D;
  --list-secondary-background: #28293D;
  --link-color: #8A4FFF;
  --table-primary-background: #E1E1E1;
  --table-secondary-background: #F9F9F9;
  --jumbotron-background: #28293D;
  --border-color: #33333E;
  --sky-color: #202040;
}

// title colors

// Size variables used to define breakpoints throughout the site.
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// export variablese for use in js code
:export {
  cloudColorLight: #fff;
  cloudColorDark: #3A506B;
}