$padding-lg: 20px;
$padding-md: 15px;
$padding-sm: 10px;

$margin-lg: 15px;
$margin-md: 10px;
$margin-sm: 5px;

html {
  --primary-text: #363635;
  --btn-text: #fff;
  --btn-background: #375A7F;
  --btn-hover-background: #2b4764;
  --btn-focus-background: #2b4764;
  --btn-active-border: #2b4764;
  --list-background: #ECF0F1;
  --table-primary-background: #E1E1E1;
  --table-secondary-background: #F9F9F9;
  --jumbotron-background: #ECF0F1;
  --border-color: #e3e3e3;
  --sky-color: #B0D0D3;
  --pagination-color: #efefef;
  --pagination-active-color: #000000;

  --mountains: url('~@/assets/mountains.svg');
  --celestial: url('~@/assets/sun.svg');
}

html[theme="dark"] {
  --primary-text: #fff;
  --btn-text: #fff;
  --btn-background: #375A7F;
  --btn-hover-background: #2b4764;
  --btn-focus-background: #2b4764;
  --btn-active-border: #2b4764;
  --list-background: #303030;
  --table-primary-background: #E1E1E1;
  --table-secondary-background: #F9F9F9;
  --jumbotron-background: #303030;
  --border-color: #444;
  --sky-color: #18314F;
  --pagination-color: #101010;
  --pagination-active-color: #ffffff;
  
  --mountains: url('~@/assets/mountains-dark.svg');
  --celestial: url('~@/assets/moon.svg');

  #footer img, #content-pointer svg {
    filter: invert(1);
  }
}

// Size variables used to define breakpoints throughout the site.
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// export variablese for use in js code
:export {
  cloudColorLight: #fff;
  cloudColorDark: #ADB5BD;
}