// This file is used to define the SASS color variables used throughout the site.
$primary-text: #363635;

$secondary-background: #E9ECEF;


$table-primary-background: #E1E1E1;
$table-secondary-background: #F9F9F9;

// $list-